@page
@model NewsReport.Pages.NewsCategoryAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.News.NewsCat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsCat.NewsCategoryID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.ReportDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.ReportDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.NewsDetail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsDetail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.GpsLat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.GpsLng)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLng)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.NewStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewStatus)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="News.NewsID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
