@page
@model NewsReport.Pages.NewsCategoryAdmin.EditModel

@{
    ViewData["Title"] = "แก้ไขข่าว";
}

<h2>แก้ไขข้อมูล</h2>

<h4>แก้ไขข้อมูลดังนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="News.NewsID" />
            <div class="form-group">
                เลือกหมวดข่าว
                <select asp-for="News.NewsCategoryID" class ="form-control" asp-items="ViewBag.NewsCategoryID"></select>
            </div>
            <div class="form-group">
                วันที่เกิดเหตุ
                <input asp-for="News.ReportDate" class="form-control" />
                <span asp-validation-for="News.ReportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                เนื้อข่าว
                <input asp-for="News.NewsDetail" class="form-control" />
                <span asp-validation-for="News.NewsDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                ละติจูดที่เกิดเหตุ
                <input asp-for="News.GpsLat" class="form-control" />
                <span asp-validation-for="News.GpsLat" class="text-danger"></span>
            </div>
            <div class="form-group">
                ลองติจูดที่เกิดเหตุ
                <input asp-for="News.GpsLng" class="form-control" />
                <span asp-validation-for="News.GpsLng" class="text-danger"></span>
            </div>
            <div class="form-group">
                สถานะการยืนยัน
                <input asp-for="News.NewStatus" class="form-control" />
                <span asp-validation-for="News.NewStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
