@page
@model IndexModel

@{
    ViewData["Title"] = "ระบบรายงานข่าว";
}

<h2>ระบบจัเการหัวข้อหมวดข่าว</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                หมวดข่าว
            </th>
            <th>
                วันที่เกิดเหตุ
            </th>
            <th>
                เนื้อข่าว
            </th>
            <th>
                ละติจูดที่เกิดเหตุ
            </th>
            <th>
                ลองติจูดที่เกิดเหตุ
            </th>
            <th>
                สถานะของข่าว
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.News) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsCat.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsLng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewStatus)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NewsID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NewsID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NewsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
